{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Home</h1>

    <!-- Novo Post -->
    <div class="card shadow-sm mb-4">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Novo Post</h3>
        </div>
        <div class="card-body" id="newpost">
            <div class="input-group">
                <input type="text" class="form-control" name="text" placeholder="O que você está pensando?" v-model="text">
                <div class="input-group-append" v-if="text">
                    <button class="btn btn-primary" @click="newpost">Postar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="posts">
        {% verbatim %}
        <div v-for="post in posts" :key="post.id" class="card mb-3 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">{{ post.author_name }}</h5>
                <p class="card-text">{{ post.text }}</p>
                <p class="card-text">
                    <small class="text-muted">{{ post.date_formatada }}</small>
                </p>

                    <button 
                    class="btn btn-success" 
                    :disabled="post.liked == true" 
                    @click="sendLike(post.id, true)">
                    Like
                </button>
                <button 
                    class="btn btn-danger" 
                    :disabled="post.liked == false" 
                    @click="sendLike(post.id, false)">
                    Dislike
                </button>
                <span>{{ post.likes_num }}</span>
            </div>
        </div>
        {% endverbatim %}
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script>
        var posts = {{ posts|safe }};
        var newpost = new Vue({
            el: '#newpost',
            data: {
                text: '',
            },
            methods: {
                getCookie() {
                    const match = document.cookie.match(/(^|;\s*)csrftoken=([^;]+)/);
                    return match ? match[2] : null;
                },
                newpost() {
                    const url = "{% url 'core:newpost' %}"

                    axios.post(url, {
                        'text': this.text}, { headers: { 'X-CSRFToken': this.getCookie() }}
                    )
                    .then(function (response) {
                        this.posts.push(response.data);   
              
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                    this.text = ''
                },                
            },
            mounted() {
            }
        })
        var post = new Vue({
            el: '#posts',
            data: {
                posts: []
            },
            methods: {
                setPosts() {
                    this.posts = posts
                },
                getCookie() {
                    const match = document.cookie.match(/(^|;\s*)csrftoken=([^;]+)/);
                    return match ? match[2] : null;
                },
                sendLike(id) {
                    const url = "{% url 'core:like' %}"
                    const obj = {
                        'post': id,
                        'comment': null
                    }
                    axios.post(url, obj, { headers: { 'X-CSRFToken': this.getCookie() }}
                    )
                    .then(function (response) {
                        if(response.status == 200) {
                            this.posts.forEach(post => {
                                if(post.id == id) {
                                    if(response.data.liked) {
                                        post.likes_num += 1                                        
                                    }
                                    else {
                                        post.likes_num -= 1
                                    }
                                    post.liked = !post.liked
                                }
                            });
                        }  
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
            },           
            mounted() {
                this.posts = posts
            }
        })
    </script>
{% endblock %}